{% extends 'base.html' %}
{% block title %}Registrar Empleado{% endblock title %}
{% block content %}
<h2>Registrar Empleado</h2>
<form method="post">{% csrf_token %}
  <label>Nombre:<br><input name="nombre" required></label><br>
  <label>Email:<br><input name="email" type="email" required></label><br>
  <label>Contraseña:<br><input name="password" type="password" required></label><br>
  <label>ID Sede:<br><input name="id_sede" required></label><br>
  <label>Cargo:<br><input name="cargo" required></label><br>
  <button>Crear Empleado</button>
</form>
{% endblock content %}
